.box {
  background-color: #000;
  color: #fff;
}

.h-25 {
  height: 25px;
}

.h-huge {
  height: 500px;
}

.set_margin {
  margin-right: .5em;
}

.space {
  padding: 2em 0em;
}

nav {
  height: 100px;
}

.row-three {
  height: 50px;
  background-color: orange;
}

.row-four {
  background-color: gray;
}

.row-five {
  background-color: pink;
}

.row-five, .row-four {
  height: 150px;
}
